@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Proxima Nova', sans-serif;
}

.bg-custom-blue {
  background-color: #3778c2;
}

.bg-custom-green {
  background-color: #5fb523;
}

.text-custom-bold {
  color: #434b54;
}

.text-custom-normal {
  color: #788991;
}

.text-custom-light {
  color: #a3afb8;
}
